* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

/*img {
  max-width: 100%;
  height: auto;
  height: auto
  margin-left: auto;
  margin-right: auto;
}*/


.clear {
  clear: both;
}

.top {
  text-align: center;
  background-color: #8affbf;
  padding: 30px;
  border-bottom: 15px solid  #7ce5a6;
}


 .column:first-child {

 }

body {
  font-family: 'Montserrat', sans-serif;
}

.image {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
  background: url("http://farm9.staticflickr.com/8553/8750628409_d53f7f6a9e_n.jpg") no-repeat;
}




@media (min-width: 500px) {
  h1 {
    font-size: 48px;
  }
  .wrapper:after {
    content: "";
    clear: both;
    width: 100%;
  }
 .column {
    width: 33.333%;
    float: left;
    padding: 5px 5px;
  }

}

@media (max-width: 500px) {
  h1 {
    font-size: 24px;
  }
  .column {
    padding: 5px 5px;
  }
}




