* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.clear {
  clear: both;
}

.top {
  text-align: center;
  background-color: #8affbf;
  padding: 30px;
  border-bottom: 15px solid  #7ce5a6;
}

/* .column:first-child {

 }
  .column:not(:last-child) {

 }*/

body {
  font-family: 'Montserrat', sans-serif;
}
.logo {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 15px;
  background-color: black;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
}

.cat1 {
  background: url("http://placekitten.com/g/200/300") no-repeat;
}

.cat2 {
  background: url("http://farm9.staticflickr.com/8553/8750628409_d53f7f6a9e_n.jpg") no-repeat;
}

.cat3 {
  background: url("http://placekitten.com/g/200/300") no-repeat;
}

a:hover, a:active {
  background-color:#7A991A;
}

.nav a {
  text-decoration: none;
}

@media (min-width: 500px) {
  h1 {
    font-size: 48px;
  }
  .wrapper:after {
    content: "";
    clear: both;
    width: 100%;
  }

 .column {
    width: 33.333%;
    float: left;
    padding: 5px 5px;
  }

  .logo {
    float: left;
  }

  .nav a {
   float: right;
   padding: 5px;
  }

  .logo {
    float: left;
    text-decoration: none;
  }

}

@media (max-width: 500px) {
  h1 {
    font-size: 24px;
  }
  .column {
    padding: 5px 5px;
  }

  .nav a {
    display: list-item;
    background-color: #8affbf;
    padding: 10px;
    border-bottom: 5px solid  #7ce5a6;
    margin-right: auto;
    margin-left: auto;
  }

  .logo {
  float: left;
  text-decoration: none;
  }

}

a:hover, a:active {
  background-color:#7A991A;
}


